

.label-title {
    font-size: 24px;
    color: #fff ;
}

.section-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-left {
    display: flex;
    align-items: center;
    width: 48%;
    justify-content: space-between;
    margin-top: 40px;
}

.section-right {
    margin-top: 40px;
}

.select select {
    background: #1F1D2B !important;
    border: none !important;
    outline: none !important;
    color: #fff !important;
    padding: 0 4rem !important;
    
}

.select::before {
    background-color: #fff !important;
}

.section-btn {
    padding: 8px 20px;
    color: #FF6F5A;
    background-color: #50343A;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
}

.span-pluss {
    color: #fff;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.cardo {
    width: 250px;
    height: 300px;
    background-color: #1F1D2B;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.2);
}

.cardo-content-wrapper {
    max-width: 250px;
    max-height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.image-wrapper {
    max-width: 50%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.card-image  {
  max-width: 100%;
 
  
}

