/*****COMMON STYLING*****/
/************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

i {
    color: #FFFFFF;
    width: 50%;
    margin-left: 20px;
}

.separator {
    margin-top: 10px;
    position: absolute;
    width: 90%;
    height: 0%;

    border: 1px solid #393C49;
    z-index: 1;
}

html {
    overflow-y: hidden;
}

html::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}



/**** Log ut ikon ****/
.fa-sign-out-alt {
    margin: 0;
}

.fa-chevron-down {
    margin: 0 20px;
    width: 0;
    cursor: pointer;
}

.fa-sign-in-alt {
    width: 0;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
    color: whitesmoke;
    font-weight: normal;
    font-family: 'Barlow', sans-serif;
}

body {
    height: 100vh;
    background: #252836;
}

/**** Navbar Styling ****/

.logo {
    width: 100%;
    top: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.logo-image {
    width: 50%;
}

.navigation {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #1F1D2B;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.nav-links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-links {
    position: relative;
    display: flex;
    align-items: center;
    width: 200px;
    height: 56px;
    overflow: hidden;

}

.nav-link {
    text-decoration: none;
    color: #FFFFFF;
    width: 100%;
    text-align: start;
    font-family: 'Barlow', sans-serif;
    cursor: pointer;
    z-index: 1;
}

.nav-link:hover {
    color: #fff;
}


li::after {
    content: "";
    position: absolute;
    left: 100%;
    bottom: 0;
    transform: translateX(-100%) scale(0);
    transform-origin: 100%;
    width: 100%;
    height: 1px;
    background-color: #EA7C69;
    transition: transform 1.5s;
}

li:hover::after {
    transform: translateX(-100%) scale(1);

}

.active {
    background-color: #ea7c694f;

}

.active:hover::after {
    transform: none;
}

.nav-logout-div {
    position: absolute;
    top: 90%;
}

.nav-logout-button {
    padding: 6px 15px;
    width: 100%;
    height: 100%;
    background: none;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/**** Header Styling ****/

.main-div {
    position: absolute;
    width: calc(100% - 200px);
    left: 200px;
    max-width: 100%;
    min-height: 100vh;
    padding: 2rem 5rem;
}

.topbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar-title {
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 28px;
}

.topbar-username {
    display: flex;
    align-items: center;

}

.topbar-line {
    width: 1px;
    height: 35px;
    background-color: #fff;
    margin-left: 10px;
}

.date {
    color: #fff;
    font-size: 13px;
    letter-spacing: 2px;
}