html {
    font-family: 'Barlow', sans-serif;
}

/*Prevent buttons from displaying shadow visually */
button {
    border: none;
}

/******************DIV*****************************/
.divTopRight {
    width: 100%;
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.divTopLeft {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}






/****************EDIT********************/
.editBtn p {
    position: absolute;
    border-radius: 10px;
    background-color: #50343A;
    padding: 0.6%;
    width: auto;
    top: 6.48vw;
    right: 18%;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
}

.headlineCSS {
    position: relative;
    height: 30%;
    width: 35%;
    background: #1F1D2B;
    border: 1px solid #FF6F5A;
    box-sizing: border-box;
    color: white;
    font-size: 1.5rem;
    right: 32.5%;
    top: 4%;
    
}

.txtInputEditDisplay {
    position: relative;
    top:25px;
    height: 135px;
    max-height: 135px;
    overflow-y:scroll;
    overflow-x: hidden;
    background: #1F1D2B;
    border: 1px solid #FF6F5A;
    box-sizing: border-box;
    color: white;
    font-size: 28px;
    right: 0.35%;
    padding-bottom: 20px;
    padding-right: 15px;
}



.headlineDisplayEdit {
    position: relative;
    /*line-height: 50px;*/
    top:10px;
    height: 70px;
    max-height: 70px;
    overflow-y:scroll;
    overflow-x: hidden;
    background: #1F1D2B;
    border: 1px solid #FF6F5A;
    box-sizing: border-box;
    color: white;
    font-size: 28px;
    right: 0.35%;
    padding-bottom: 20px;
    padding-right: 15px;
}


.dropdownCSSModal {
    position: relative;
    top: 80px;
    /*left: -4%;*/
    height: 70px;
    width: 25%;
    font-size: 100%;
    text-align-last: center;
    /*A way to center text in dropdown menu. Only works in chrome*/
    border: 1px solid #FF6F5A;
    color: white;
    background-color: #1F1D2B;
    cursor: pointer;
}


.editIconTxtOutput{
    float: right; 
    position: -webkit-sticky;
    position: sticky;
    top: 45%; 
    cursor:pointer;
    color:red;
    animation: blinker 2.5s 4;     
    animation-delay: 12s;  
}

/**In need of seperate class because only one icon should be green onclick***/
.editIconHeadlOutput{
    float: right; 
    position: -webkit-sticky;
    position: sticky;                            /* VIRKER IKKE*/
    top: 45%;
    cursor:pointer;
    color:red;
    animation: blinker 2.5s 4;     
    animation-delay: 12s;  
}


/**Animation when user edit complete*/
@keyframes blinkerFontFadeout { /*Old txt before edit fades out*/
    0% {color:grey;}
      
    50% {opacity: 0;}
  
    100% {
        color:grey;
        opacity: 0;
         }
     }


  @keyframes blinkerFontFadein { /*New txt after edit appears*/
    0% {
   opacity: 0;
   color:#3c96ce;
    }
   50% {opacity: 1;}
   70%{color: white;}
    }
/******************REGRET BUTTON********************************************/
                   
.regretBtnStyle {
    position: relative;
    left: 2%;
    border-radius: 10px;
    font-weight: bold;
    padding: 3% 3% 3% 3%;
    font-size: medium;
    color: black;
    /*background-color:#FF6F5A;
    background-color: #008264;*/
    background-color: #87CEFAb3;
    cursor: pointer;
    z-index: 1;
    -webkit-animation: slideIn 3s forwards;
    -moz-animation: slideIn 3s forwards;
    animation: slideIn 3s forwards, blinker 2.5s 4;     /* blinker (the second animation) = How fast blinks and how many*/
    animation-delay: 0s, 4s;                            /*Only delay the blinker*/
    }

    .regretBtnStyle:hover{
    background-color: #87CEFA;
    }

    /*BLINK/FADE**/
        
        @keyframes blinker {
        50% {
            opacity: 0.2;
            
        }
        }

        /*Slide from right to left*/

    @-webkit-keyframes slideIn {
        0% {
            transform: translateX(600px);
        }
        100% {
            transform: translateX(0);
        }
        }
        @-moz-keyframes slideIn {
        0% {
            transform: translateX(600px);
        }
        100% {
            transform: translateX(0);
        }
        }
        @keyframes slideIn {
        0% {
            transform: translateX(600px);
        }
        100% {
            transform: translateX(0);
        }
     }





/***********DELETE*******************/
@keyframes deleteColumnCompressBox {
    /*Scaling x and y*/
    /*from {transform: scale(1,1);} 
    
    to {transform: scale(0.08, 0.8);}*/
    
   /*from{width: 100%;
    left: -57px;
}
   to{width: 40%;
    left: 500px;
    height: 10px !important;
    }*/
    0% {
        transform: translateX(0);}
    20% {
        background-color: transparent;
        }
    100% {
        transform: translateX(-2200px);
        background-color: transparent;
    }
  }











/***********SORT*******************/

.sortingBtnStyle button {
    background-color: #50343A;
    color: white;
    position: relative;
    font-size: 1rem;
    padding: 17px;
    width: auto;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    top: -7.2rem;
    font-size: 28px;
}


/************FILTER****************/
.divTopLeft select {
    margin-top: 3px;
    left: 150px;
}


.dropdownChoiceDisplay {
    position: absolute;
    top: 7.9rem;
    height: 5.2%;
    width: auto; /*More responsive font*/
    padding: 0.5%  1%  0.5% 1% ;
    font-size: 100%;
    text-align-last: center;
    border: 1px solid #50343A;
    color: white;
    background-color: #50343A;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden; /*No need for scrollbar when only 3 options. Scrollbar could be useful in responsiv test. But in that case it disappeared :/ */
}

/*
.dropdownChoiceDisplay:focus {
    background-color: #1F1D2B;
    }*/










/*********************ADD****************/
.addBtn {
    border-radius: 10px;
    background-color: #50343A;
    padding: 10px;
    width: auto;
    top: 10%;
    margin-left: 50%;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    white-space: nowrap;
}


/*The first letter in p tag will change color*/
.addBtn p::first-letter {
    font-size: 1.2rem;
    color: #FF6F5A;
    text-align: center;
    cursor: pointer;
}

/*Position p tag in addBtn class */
.addBtn p {
    text-align: center;
    position: relative;
    margin: 0 auto;
    /*Placing the content in the middle. Centering the contenct relative for the box its in.*/
    color: white;
}

.headlineCSSAdd {
    position: relative;
    height: 30%;
    width: 35%;
    background: #1F1D2B;
    border: 1px solid #FF6F5A;
    box-sizing: border-box;
    color: white;
    font-size: 1.5rem;
    right: 32.5%;
    top: -4rem;
}

.dropdownCSSModalAdd {
    position: relative;
    top: 7px;
    height: 70px;
    width: 25%;
    font-size: 100%;
    text-align-last: center;
    border: 1px solid #FF6F5A;
    color: white;
    background-color: #1F1D2B;
    cursor: pointer;
    }


    .dropdownCSSModalAdd option:hover {
        background-color: #50343A;
        /*padding-left: -1.3%;*/
    }

    .dropdownCSSModalAdd::-webkit-scrollbar { display: none; }




/**Animation when added column**/
    @keyframes blinkercolumnColor {
        0%{
            opacity: 0.5;
            background-color: #50343A;
        }
      50% {
          background-color: #50343A;
     opacity: 1;
      }
      100%{
          background-color: #1F1D2B;
      }
    }
  













/**********TASK COLUMN**********/
.columnPosition {
    position: absolute;
    width: 100%;
    left: -57px;
    top: 25%;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 74%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-right: 15px;
    z-index: 1;
}



.columns {
    /*Because of the transparent scroll bar*/
    position: relative;
    /*right: 5%;*/
    padding-top: 1%;
    z-index: 1;
}

.columnColor {
    background: #1F1D2B;
    border: 1px solid #E74C3C;
    box-sizing: border-box;
    /*color: white;*/
    box-shadow: 0px 6px 10px #00000024, 0px 1px 18px #0000001f, 0px 3px 5px #00000033;
    /* Notification shadow */
    border-radius: 1%;
    z-index: 1;
}


/*b tag for the X sympol for deleting task*/
b {
    color: white;
    position: absolute;
    left: 98.5%
}










/**************SCROLL BARS*******************/
::-webkit-scrollbar {
    background-color: transparent;
    margin-left: 2rem;
    width: 14px;
}

::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    /*Transparent color to make the egdes dissapair*/
    background-clip: padding-box;
    /*Slim thumb*/
    border-radius: 999px;
    /*Round egdes*/
    background-color: #E74C3C;
}







/**************HOVERS******************/
b:hover {color: #FF6F5A;}

.addBtn p:hover {color: #FF6F5A;}

.editBtn p:hover {color: #FF6F5A;}

.addBtn p:hover:first-letter {color: white;}

.sortingBtnStyle button:hover {color: #FF6F5A;}

.editIconTxtOutput:hover{color: #FF6F5A;}

.editIconHeadlOutput:hover{color: #FF6F5A;}




/*****MODALS******/
.txtInput {
    position: relative;
    height: 70%;
    width: 100%;
    background: #1F1D2B;
    border: 1px solid #FF6F5A;
    box-sizing: border-box;
    color: white;
    font-size: 28px;
    right: 0.35%;
}









/*********************OUTPUT MESSAGE***********/
.errorOutput error {
    position: relative;
    color: #FF6F5A;
    margin-left: 50px;
}


.errorOutput error p {
    position: absolute;
    color: yellow;
    right: 95%;
    padding-right: 7%;
}







/*****************DROPDOWN DEFAULT VALUES****************/
select:focus {outline: 0;} /*Remove ugly white egde onclick */ 

option:hover {   /*Affects all dropdown menu's with option tag*/
    border: 2px solid #E74C3C;
    border-radius: 40px;
}
option {text-transform: uppercase;}







   

  .dropdownCSSModalEdit {
    position: relative;
    top: 40px;
    
    height: 150px;
    width: 70%;
    font-size: 150%;
    text-align-last: center;
    
    border: 1px solid #FF6F5A;
    color: white;
    background-color: #1F1D2B;
    cursor: pointer;
    }
