/* Should not override global.css!! */
/* .topbar-title{
    font-weight: bolder;
    font-size: 30px;
} */


html {
    overflow: hidden
}

html::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.horizontal-list {
    font-weight: bold;
    position: absolute;
    left: 1.8%;
    top: 13%;
}

.horizontal-list div {
    display: inline;
}

.horizontal-a {
    position: relative;
    text-align: center;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;

}

.horizontal-a:hover {
    color: white;
}

.horizontal-a::after {

    content: "";
    position: absolute;
    left: 100%;
    bottom: 0;
    transform: translateX(-100%) scale(0);
    transform-origin: 100%;
    width: 100%;
    height: 1px;
    background-color: #EA7C69;
    transition: transform 1.5s;
}

.horizontal-a:hover::after {
    transform: translateX(-100%) scale(1);

}


.section {
    display: flex;
    text-align: center;
    justify-content: center;
    overflow-y: hidden;
}

#food-container,
#second-food-container {

    padding-top: 1%;
    left: 10%;
    position: relative;
    max-width: 60%;
}

#food-container img,
#second-food-container img {
    width: 70%;
}

.card {
    position: relative;
    top: 5%;
    height: 105%;
    background-color: #1F1D2B !important;
}

#pizza-type {
    background-color: #00b12c;
    color: white;
    font-size: 0.7vw;
    font-weight: bold;

}

#cheese-type {
    background-color: grey;
    color: white;
    font-size: 0.7vw;
    font-weight: bold;
}

#sauce-type {
    background-color: mediumblue;
    color: white;
    font-size: 0.7vw;
    font-weight: bold;
}

/* this sets color white for all h1 */
.section h1 {
    color: white;
}

.card div {
    padding: 1%;
}

.price {
    position: absolute;
    width: 100%;
    top: 74%;
    left: 0%;
    color: #c5bfbf;
}

.card-footer,
.card-footer-item {
    position: relative;
    top: 7%;
    background-color: #EA7C69;
}

.button,
.active {
    position: relatabive;
    width: 100%;
    text-align: center;
}

.card-footer-item button {
    background-color: transparent;
    border-style: none;
    color: white;
    font-weight: bolder;
}


.modal .active {
    border-style: none;
}

.button:hover {
    background-color: #ea7c69;
}

.button-save {
    background-color: #ea7c69b3;
    border-radius: 1px;
    border-color: black;
    color: white;
    font-weight: bold;
    padding: 3% 3% 3% 3%;
    border-radius: 0.5em;
    font-size: medium;

}

.button-save:hover {
    background-color: #ea7c69;
    cursor: pointer;
}

/*modals*/
.modal .modal-card-head {
    background-color: #1F1D2B;
}

.modal .modal-card-title {
    color: white;
    font-weight: bolder;
}

.modal .modal-card {
    height: 60%;
    width: 50%;
    /*Color her endrer kun teksten på labels.*/
    color: white;
    text-align: center;
    padding: 50px 50px 50px 50px;
}

.modal .modal-card-body {
    background-color: #252836;
}

.modal .modal-card-foot {
    background-color: #1F1D2B;
}

/*Drop down menus*/
.dough-div {
    padding: 10px 10px 10px 10px;
}

.cheese-div {
    padding: 10px 10px 10px 10px;
}

.sauce-div {
    padding: 10px 10px 10px 10px;
}

.price-div {
    padding: 10px 10px 10px 10px;
}

/*Removes arrows from input field*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tags {
    display: inline;
}

/*
.containers{
    position:absolute;
    top: 30%;
}

.price-text{
    font-weight: bold;
   
}
.card-image{
    background-color:black;
}
.card-content{
    background-color:black;
}
.card-price{
    background-color: black;
}
*/