 .topbar-title{
    font-weight: bolder;
    font-size: 30px;
}

.edit-menu{
    position: absolute;
    top: 18%;
    left: 5%;
    font-weight: bolder;
    font-size: 130%;
}

.horizontal-list{
    display: inline;
    font-weight: bold;
    position: absolute;
    left: 1%;
    top: 10%;
    z-index: 100;
    padding: 10px 10px 10px 10px;
}

.horizontal-list div{
    display: inline;
}

.horizontal-a{
    text-align: center;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    
}
.search-bar {
    position: absolute;
    left: 74.5%;
    top: 15%;
    overflow: hidden;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    background-color:#393C49 ;
}
.search-bar input[type=text]{
    color: white;
    background-color: #393C49;
    padding: 10px 10px 10px 10px;
}
.fa-search{
    position: absolute;
    left: 57%;
    top:22%;
}
.section {
    position: absolute;
    top:15%;
    left: 3%;
    max-width: 65%;
   
}

.card {
    background-color: #1F1D2B !important;
    padding-top: 6%;
    
}
.title {
    color: white !important;
    
}
.price {
    position:absolute;
    left: 45%;
}
.card-footer {
    /*bruk rgba. Bruker man hex og opacity arves det ned til .edit-dish klassen*/
    background-color: rgba(234, 124, 105, 0.5) !important;

}
.edit-dish {
    color: #FF4500 !important;
    text-align: center;
}









/*
.containers{
    position:absolute;
    top: 30%;
}

.price-text{
    font-weight: bold;
   
}
.card-image{
    background-color:black;
}
.card-content{
    background-color:black;
}
.card-price{
    background-color: black;
}
*/